<app-home></app-home>
<h3 class="mt-5 mb-3">Reservation List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Guest
            </th>
            <th>
                Email
            </th>
            <th>
                Room No.
            </th>
            <th>
Check-In            </th>
            <th>
                Check-Out
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
     
            <tr *ngFor="let reservation of reservations" >
               <td>  {{reservation.guestName}}<br></td>
                <td>  {{reservation.guestEmail}}<br></td>
                <td> {{reservation.roomNumber}}<br></td>
                <td>  {{reservation.checkInDate}}<br></td>
                <td> {{reservation.checkOutDate}}<br></td>
               
                <td>
                    <button class="btn btn-sm btn-danger mx-1" (click)="onDelete(reservation.id)">Delete</button>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit',reservation.id]">update</button>
                </td>
                
          
            </tr>
       
    </tbody>
</table>
<!-- 
//only if we have one reservation the show ul else call no Reservation function i.e ng-template -->
<ul *ngIf="reservations.length; else noReservation" >
    
</ul>

<ng-template #noReservation>

    <p>No reservation avalaible</p>
</ng-template>
